body{
    background-color: #ccc;
    background-position: top center;
    background-attachment: fixed;
    background-image: url(../images/bg.png);
}
a{
    text-decoration: none !important;
}
.page{
    background: #fff;
    height: 3333px;
    margin: 40px auto;
    padding: 30px 30px 0;
    border-radius: 15px;
    overflow: hidden;
}
/*Start header*/
.navbar-brand img{
    max-width: 130px;
    height: auto;
}
.navbar-light .navbar-nav .nav-link{
    color: #333;
}
.navbar-light .navbar-nav .nav-link{
    transition: 0.5s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover{
    background: #0b74ce;
    color: #fff ;
    border-radius: 2px;
}
.navbar-light .dropdown-item{
    transition: all 0.5s;
}
.navbar-light .dropdown-item:hover{
    background: #0b74ce;
    color: #fff;
}
.navbar-light a.add-project-btn.nav-link{
    border: 2px solid #0b74ce;
    background: #0b74ce;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
}
.navbar-light a.add-project-btn.nav-link:hover{
    background: transparent;
    color: #333;
}

.carousel-control-prev, .carousel-control-next{
    width: 7%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 35px;
    height: 35px;
}
.carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.slider-btn{
    border: 2px solid #fff;
    color: #fff;
    padding: 5px  20px 10px;
    font-size: 20px;
    background: transparent;
    transition: all 0.5s;
    margin: 15px auto;
    display: inline-block;

}
.white-btn:hover{
    background: #0b74ce;
    color: #fff;
}
.main-title{
    display: inline-block;
    position: relative;
    color: #333;
    border-bottom: 3px solid #0b74ce;
    padding-bottom: 6px;
    text-transform: capitalize;
}
.paragraph{
    font-size: 14px;
    color: #444;
}
.second-title{
    color: #0b74ce;
    text-transform: capitalize;
}
.read-more i{
    position: relative;
    top: 1px;
    transition: all 0.5s;

}
.read-more:hover i{
    padding-left: 3px;
}
.read-more{
    font-size: 15px;
}
.img-container{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(207,205,207,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(207,205,207,1);
    box-shadow: 0px 0px 2px 0px rgba(207,205,207,1);
    transition: all 0.5s;
}
.img-container:hover{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(207,205,207,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(207,205,207,1);
    box-shadow: 0px 0px 5px 1px rgba(207,205,207,1);
}
@media (max-width: 991px){
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    .navbar-nav .dropdown-menu{
        text-align: center;
    }
}